.my-baju1 {
    /* position: absolute;
    height: 599px;
    left: 164px;
    top: 145px; */
    width: 900px;
    height: 400px;
  
    
}
.my-baju2 {
    /* position: absolute; */
    height: 599px;
    left: 164px;
    top: 145px;
   position: center;
    
}