@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* .review{
    position: absolute;
width: 824px;
height: 557px;
left: 240px;
top: 820px;

background: rgba(255, 136, 0, 0.1);
border-radius: 29px;
} */

/* .formmessage {
    position: absolute;
    width: 90%;
    left: 40px;
    top: 40px;
} */


.komenbro{
    position: absolute;
    margin-top: 1px;
    left: 200px;
    top: 1490px;
}

.card-kontent {
position: relative;
width: 400px;
height: 150px;
left: 550px;
/* top: 100px; */
/* margin-top: 100px; */
margin-bottom: 50px;


background: whitesmoke;
border-radius: 7px;
}

.komen-list {
    list-style: none;
    /* margin-left: 200px; */
   
  }
  .card-titles{
      top: 50px;
      margin-right: 300px;
      margin-top: 100px;
      
  }

.del {
    position: absolute;
   
    margin-left: 300px;
    margin-bottom: 10px;
    border-radius: 6px;
    background-color: #FFDAC1;

}
